# Random search

In [1]:
import sympy as sp
import numpy as np

LIMITS_RANGE = -3, 3

COMPONENTS = 3
DATA_SIZE = 10

In [2]:
syms = sp.symbols(f'x1:{COMPONENTS+1}')

In [3]:
x1 = syms[0]
x2 = syms[1]
x3 = syms[2]

eq = sum(syms)
eq = eq.subs(x1, 1/x1**2).subs(x2, x2**2).subs(x3, x3**3)

eq

x2**2 + x3**3 + x1**(-2)

In [4]:
f = sp.lambdify(syms, eq, modules='numpy')

In [5]:
import dataclasses

@dataclasses.dataclass
class VectorStructure:
    data: list | np.ndarray
    value: int | float
    
    def __gt__(self, other):        
        return self.value > other.value
    
    def __str__(self):
        return f"{self.data}, {self.value}"
    
    def __iter__(self):
        return iter([*self.data, self.value])

In [6]:
import pandas as pd

def random_search_algorithm(n_it=5):
    all_data = []
    
    for it in range(n_it):
        data = [np.random.uniform(-30, 30) for _ in range(COMPONENTS)]
        value = f(*data)
                
        all_data.append(
            VectorStructure(data, value)
        )
    
    return [list(vec) for vec in all_data], min(all_data)


all_data, min_found = random_search_algorithm()

In [7]:
pd.DataFrame(all_data)

           0          1          2             3
0  -6.574231  29.436611  12.830097   2978.517266
1 -13.911898  -4.577050   6.013502    238.416091
2  25.725768 -14.683322 -25.042801 -15489.788107
3 -10.515148  22.038526 -22.729484 -11257.014701
4  17.995416 -20.982751  25.092015  16238.442064

In [8]:
min_found

VectorStructure(data=[25.725767776930645, -14.683321616135158, -25.042801108346957], value=-15489.78810699622)